<div class="container">
  <div class="row mb-4 mt-4">
    <div class="col">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">Question: jnbHKSXBJASBSKJCBAKHBCKHASBC ?</h2>
          <p class="card-text">CONTEXT: Welcome to our marketplace! Browse our products below and find the perfect item for you.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="card-title">
              Product 1
            </h5>
            <div class="d-flex align-items-center">
              <img src="https://via.placeholder.com/25" alt="avatar" class="rounded-circle mr-2">
              <span>User Name</span>
            </div>
          </div>
          <p class="card-text">This is a short description of Product 1.</p>
          <p class="card-text d-flex align-items-center justify-content-between">
            <span class="mr-3">Avg time of answer: <b>1 hs</b></span>
            <span class="mr-3">Price: <b>$50</b></span>
          </p>
          <p class="card-text">
            <span class="mr-3">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span class="ml-2"> (4.5) </span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="card-title">
              Product 2
            </h5>
            <div class="d-flex align-items-center">
              <img src="https://via.placeholder.com/25" alt="avatar" class="rounded-circle mr-2">
              <span>User Name</span>
            </div>
          </div>
          <p class="card-text">This is a short description of Product 2.</p>
          <p class="card-text d-flex align-items-center justify-content-between">
            <span class="mr-3">Avg time of answer: <b>4 hs</b></span>
            <span class="mr-3">Price: <b>$70</b></span>
          </p>
          <p class="card-text">
            <span class="mr-3">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
              <span class="ml-2"> (3.5) </span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="card-title">
              Product 3
            </h5>
            <div class="d-flex align-items-center">
              <img src="https://via.placeholder.com/25" alt="avatar" class="rounded-circle mr-2">
              <span>User Name</span>
            </div>
          </div>
          <p class="card-text">This is a short description of Product 3.</p>
          <p class="card-text d-flex align-items-center justify-content-between">
            <span class="mr-3">Avg time of answer: <b>6 hs</b></span>
            <span class="mr-3">Price: <b>$100</b></span>
          </p>
          <p class="card-text">
            <span class="mr-3">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <span class="ml-2"> (5.0) </span>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
