// Specific CSS for your home-page
#opening {
  background-image: url(https://res.cloudinary.com/dbf5pmi1n/image/upload/v1678444508/legalMentorHome_jr0esv.jpg);
  width: 100%;
}

.firstTitle {
  margin-top: 80px;
  color: white
}

.firstTitle h1, h3 {
  margin-bottom: 50px;
}

.buttonHome {
  border-radius: 4px;
}

#footHome {
  margin-top: 450px;
}

#footHome h4 {
  color: #0A2A5E;
}

#footHome p {
  color: #333333;
}
