<div class="container">

  <div class="row">
    <div class="col-6">
      <h1>Hola</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quae molestias qui assumenda sunt, soluta nam optio fuga? Quaerat ratione necessitatibus accusamus ut? Deleniti praesentium cupiditate aliquam iste molestias doloremque?</p>
    </div>

    <div class="col-6">
      <img src="https://images.pexels.com/photos/1181715/pexels-photo-1181715.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="img-fluid">
    </div>

  </div>

  <div class="row mt-5">

    <div class="col-6">
      <img src="https://images.pexels.com/photos/1181715/pexels-photo-1181715.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="img-fluid">
    </div>

    <div class="col-6">
      <h1>hola</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quae molestias qui assumenda sunt, soluta nam optio fuga? Quaerat ratione necessitatibus accusamus ut? Deleniti praesentium cupiditate aliquam iste molestias doloremque?</p>
    </div>

  </div>

</div>
