<section id="opening">

  <div class="container">

    <div class="row text-center">
      <div class="col-2"></div>

      <div class="col-8 firstTitle">
        <h1>Legal Mentor</h1>
        <h3>Tu guía legal personalizada</h3>
        <%= link_to "Empezar ahora mismo", new_user_session_path, class: "btn btn-outline-light buttonHome" %>
      </div>

      <div class="col-2"></div>
    </div>

    <div class="row text-center" id="footHome">
      <div class="col-4">
        <h4>Tu guia legal personalizada</h4>
        <p>Haz la pregunta que necesites saber sobre cualquier tema.</p>
      </div>

      <div class="col-4">
        <h4>Respuestas confiables a tus preguntas</h4>
        <p>Nuestros abogados son validados.</p>
      </div>

      <div class="col-4">
        <h4>Breves tiempos de espera</h4>
        <p>Resuelva sus dudas a corto plazo.</p>
      </div>
    </div>

  </div>

</section>
<section id="ourServices">
  <div class="container text-center">
    <h1>hola</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum, aut a. Veritatis recusandae cum vitae laboriosam illum, perferendis fugit atque perspiciatis blanditiis magnam et impedit itaque quam quia. Quo, quam.</p>
  </div>
</section>
