<div class="container">
<div id="statusScreenBrick_container"></div>
<script>
    const mp = new MercadoPago('TEST-43c4eafd-2795-4229-87c5-85f0e2cb68f6');
    const bricksBuilder = mp.bricks();
    const renderStatusScreenBrick = async (bricksBuilder) => {
        const settings = {
            initialization: {
                paymentId: '1310727078', // valor del procesamiento a realizar
            },
            callbacks: {
                onReady: () => {
                    // callback llamado cuando Brick está listo
                },
                onError: (error) => {
                    // callback llamado para todos los casos de error de Brick
                },
            },
            customization: {
                visual: {
                    showExternalReference: true
                }
            }
        };
        window.statusScreenBrickController = await bricksBuilder.create('statusScreen', 'statusScreenBrick_container', settings);
    };
    renderStatusScreenBrick(bricksBuilder);
</script>
</div>
