<div class="container-h1 mt-3">
  <h1>Danos una reseña para finalizar el proceso</h1>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card-comment">
        <div class="card-body">
          <%= render "reviews_form" %>
        </div>
      </div>
    </div>
  </div>
</div>
